{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="main flex flex-col ">
    <h1 class="text-3xl text-center font-bold mb-4 mt-10">Panier</h1>
    {% if articles | length > 0 %}
    <table class="panier mx-10 ">
        <tr class="border border-black h-10 bg-slate-100">
            <th class="panier  hidden lg:block" colspan="1"></th>
            <th class="panier border border-black font-bold text-xl" colspan="1">Produit</th>
            <th class="panier border border-black font-bold text-xl" colspan="1">Prix</th>

            <th class="panier border border-black font-bold text-xl" colspan="3">Quantité</th>

            <th class="panier border border-black font-bold text-xl" colspan="1">Sous-total</th>
            <th class="panier border border-black font-bold text-xl" colspan="1">Suppr</th>
        </tr>
        <tbody>
            {% for article in articles %}
            <tr class="border border-black h-10">
                <td class="panier  justify-center items-center hidden lg:flex colspan=" 1"">
                    <img class="imgPanier h-24 w-auto object-cover rounded-md my-2"
                        src='/uploads/images/{{ article.image }}' alt="image produit">
                </td>
                <td class="panier border border-black text-center font-bold  text-xl" colspan="1">
                    {{article.produit.name}}<br><a class="text-sm font-normal text-gray-600"
                        href="{{ path('app_show_produit', {'slug': article.produit.slug}) }}">Voir detail</a></td>
                <td class="panier border border-black text-center font-bold text-xl" colspan="1">{{article.produit.prix
                    }}€</td>


                <td class="panier action border border-black text-center " colspan="1"><a
                        class="moins p-2 text-center bg-gray-500 rounded-lg text-white font-extrabold"
                        href="{{path ('app_panier_downQtt',{'id': article.produit.id}) }}"><i
                            class="fas fa-minus"></i></a></td>

                <td class="panier action border border-black text-center min-w-6 font-bold text-xl" colspan="1">
                    {{article.quantite}}</td>

                <td class="panier action border border-black text-center " colspan="1"><a
                        class="plus p-2 text-center bg-gray-500 rounded-lg text-white font-extrabold"
                        href="{{path ('app_panier_upQtt',{'id' : article.produit.id }) }}"><i
                            class="fas fa-plus"></i></a></td>

                <td class="panier ssTotal border border-black text-center font-bold text-xl" colspan="1">
                    {{article.produit.prix * article.quantite }}€</td>
                <td class="panier action border border-black text-center" colspan="1">
                    <a class="suppr text-red-700 text-xl"
                        href="{{path ('app_panier_remove', {'id': article.produit.id }) }}" class="btn">
                        <i class="fas fa-trash "></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr class="h-10 ">
                <td class="total img hidden lg:block" colspan="1"></td>
                <td class="total" colspan="2"></td>
                {% if articles | length > 0 %}
                <td class="total border border-black text-center bg-slate-100 font-bold text-xl" colspan="3">Article(s)
                    : {{totalArticle}}</td>
                <td class="total border border-black text-center bg-slate-100 font-bold text-xl" colspan="1">Total : {{
                    total }}€</td>
                <td class="total text-center border border-black font-bold text-white bg-slate-100" colspan="1">
                    <a class="vider py-1 px-3 rounded-lg bg-red-700 hover:bg-red-800 text-white"
                        href="{{ path('app_panier_removeAll') }}">Clear all</a>
                </td>
            </tr>
        </tfoot>
    </table>
    <button class="panier mt-10 font-bold text-xl text-white">
        <a class="btn  bg-green-700 py-3 px-3 rounded-lg " href="">Valider le panier</a>
    </button>
    {% else %}
    <div class="flex flex-col items-center">
        <h3 class="text-4xl text-center">Votre panier est vide</h3>
        <img class="w-1/2 h-auto" src="/img/preview.png" alt="Sac vide">
    </div>
    {% endif %}
</div>
{% endblock %}