{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
<h1 class="text-center text-blue-500 mt-5 text-xl underline">Produits</h1>
<div class="allCard grid grid-cols-3 gap-4 p-4">
    {% for produit in produits %}
    <div class="card bg-slate-300 rounded-xl">
        <p class="text-center">{{ produit.name }}</p>
        <img class="h-1/4 w-auto" src="/uploads/images/{{ produit.imgUrl }}" alt="{{produit.name}}">
        <p>{{ produit.prix }}€</p>
        <p class="text-center"><a href="{{ path('app_show_produit', {'slug': produit.slug}) }}
            ">detail</a></p>
    </div>
    {% endfor %}
</div>
{% endblock %}