{% extends 'base.html.twig' %}

{% block title %}
{{produit.name}}
{% endblock %}

{% block body %}

<div class="main min-h-screen bg-white py-10 flex flex-col justify-center">
    <h1 class="text-center text-4xl leading-tight font-bold text-gray-900 mb-4">{{ produit.name }}</h1>
    <div class="detail max-w-full mx-4 md:mx-16 bg-gray-100 shadow-lg rounded-lg overflow-hidden">
        <div class="flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-2 md:p-4">
                <div id="main-image" class="flex justify-center">
                    {% set starredImage = null %}
                    {% for image in produit.images %}
                    {% if image.star %}
                    {% set starredImage = image %}
                    {% endif %}
                    {% endfor %}
                    {% if starredImage is not null %}
                    <img class="w-3/4 h-auto object-contain rounded-xl" src="/uploads/images/{{ starredImage.path }}"
                        alt="{{ produit.name }}">
                    {% endif %}
                </div>
            </div>
            <div class="w-full md:w-1/2 p-4 md:p-8 flex flex-col justify-between">
                <div>
                    <div class="text-center uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{
                        produit.categorie.name }}</div>
                    <p class="mt-2 text-gray-600 text-center">{{ produit.description }}</p>
                    <div class="flex justify-center mt-4">
                        <span class="text-gray-500">Prix :</span>
                        <span class="ml-2 text-lg font-semibold text-gray-900">{{ produit.prix }} €</span>
                    </div>
                    <div class="flex justify-center mt-4">
                        <div class="inline-flex items-center">
                            <button class="btn font-bold py-2 px-4 rounded-l bg-red-500 text-white hover:bg-red-700"
                                onclick="changeQuantity(-1)">-</button>
                            <input type="text" id="quantity" name="quantity" value="1"
                                class="text-center focus:ring-indigo-500 focus:border-indigo-500 shadow-sm sm:text-sm border-gray-300 rounded-none"
                                style="width: 60px;">
                            <button class="btn font-bold py-2 px-4 rounded-r bg-green-500 text-white hover:bg-green-700"
                                onclick="changeQuantity(1)">+</button>
                        </div>
                    </div>
                    <div class="flex justify-center items-center mt-6 space-x-2">
                        <a href="{{path('app_panier_add', {'id': produit.id})}}" class="btn font-bold py-2 px-4 rounded bg-blue-500 text-white hover:bg-blue-700 flex items-center">Ajouter au Panier</a>
                        <button id="favBtn" class="btn font-bold h-10 w-10 flex justify-center items-center ">
                            <i class="far fa-star text-yellow-400 text-3xl"></i>
                        </button>  
                    </div>
                </div>
                <!-- Miniatures -->
                <div class="flex justify-center p-4 space-x-2 mt-4">
                    <div class="flex justify-center">
                        <!-- Afficher d'abord l'image star si elle existe -->
                        {% for image in produit.images %}
                        {% if image.star %}
                        <img class="h-24 w-auto object-cover cursor-pointer border-2 border-gray-300 rounded-md"
                            src="/uploads/images/{{ image.path }}" alt="{{ produit.name }}"
                            onclick="changeMainImage(this)">
                        {% endif %}
                        {% endfor %}

                        <!-- Afficher ensuite les autres images -->
                        {% for image in produit.images %}
                        {% if not image.star %}
                        <img class="h-24 w-auto object-cover cursor-pointer border-2 border-gray-300 rounded-md"
                            src="/uploads/images/{{ image.path }}" alt="{{ produit.name }}"
                            onclick="changeMainImage(this)">
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        function changeQuantity(change) {
            let quantityInput = document.getElementById('quantity');
            let currentQuantity = parseInt(quantityInput.value);
            let newQuantity = currentQuantity + change;
            if (newQuantity < 1) newQuantity = 1;
            quantityInput.value = newQuantity;
        }
        function changeMainImage(clickedImg) {

            var mainImage = document.getElementById('main-image').getElementsByTagName('img')[0];
            mainImage.src = clickedImg.src;
            mainImage.alt = clickedImg.alt;
        }
        document.getElementById('favBtn').addEventListener('click', function() {
            const starIcon = this.querySelector('i');
            if (starIcon.classList.contains('far')) { // Étoile vide
                starIcon.classList.remove('far');
                starIcon.classList.add('fas'); // Change pour étoile pleine
            } else {
                starIcon.classList.remove('fas');
                starIcon.classList.add('far'); // Change pour étoile vide
            }
        });
    
    </script>







    {% endblock %}