{% extends 'base.html.twig' %}

{% block title %}
{{produit.name}}
{% endblock %}

{% block body %}

<div class="main h-full">
    <h1 class="text-center mt-5 text-3xl font-bold">{{produit.name}}</h1>
    <div class="detail h-full flex flex-col justify-center items-center content-center">
        <img class="h-1/4 w-auto" src="/uploads/images/{{ produit.imgUrl }}" alt="{{produit.name}}">
        <p>{{produit.categorie.name}}</p>
        <p>Description{{produit.description}}</p>
        <h2>Prix : {{produit.prix}} €</h2>
        <button class="btn font-extrabold bg-slate-300 hover:bg-slate-500 hover:text-white rounded-xl py-1 px-2">Add</button>
    </div>
</div>





{% endblock %}