{% extends 'base.html.twig' %}

{% block title %}Recapitulatif de la commande {% endblock %}

{% block body %}
<div class="validCommandePage">
    <div class="recap">
        <h2>Votre  récapitulatif de commande</h2>
        <h3>Commande #{{ commande.id }}</h3>
        <p class="dateCom">Date de commande: {{ commande.dateCommande|date('d/m/Y') }}</p>

        <h4>Vos informations</h4>
        <p>Nom: {{ commande.nom }}</p>
        <p>Prénom: {{ commande.prenom }}</p>
        <p class="dateCom">Adresse: {{ commande.adresse }}, {{ commande.cp }} {{ commande.ville }}</p>

        <h4>Détails de la Commande</h4>
        <table class="fiche">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                {% if commande.commandeProduits is not empty %}
                {% for commandeProduit in commande.commandeProduits %}
                    <tr>
                        <td>{{ commandeProduit.produit.name }}</td>
                        <td>{{ commandeProduit.qtt }}</td>
                        <td>{{ commandeProduit.produit.prix * commandeProduit.qtt }} €</td>
                    </tr>  
                {% endfor %} 
                {% else %}
                    <tr>
                        <td colspan="3">Aucun produit associé à cette commande.</td>
                    </tr>
                {% endif %} 
            </tbody>
        </table>
        <div class="total">
            <p>Montant total : {{ total }} €</p>
        </div>
        <a class="buttonSmall" href="#">Payer la commande</a>
    </div>
    
</div>
 
{% endblock %}